#zportal-items .zportal-service-icon {
    display: flex;
    align-items: center;
}
#zportal-items .zportal-service-icon img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}
#zportal-items .zportal-toggle-status {
    display: flex;
    align-items: center;
}
#zportal-items .zportal-toggle-status svg {
    margin-right: 7px;
}

#zportal-items th, #zportal-items td {
    display: table-cell !important;
}

.zorgportal_page_zorgportal-invoices .wrap h1{
    width: max-content;
}

@media (max-width: 1750px) {
    .zorgportal_page_zorgportal-invoices .invoices-form-block select{
        font-size: 12px;
        padding: 0 20px 0 8px;
    }
    .zorgportal_page_zorgportal-invoices .invoices-form-block input{
        font-size: 12px;
    }
    .zorgportal_page_zorgportal-invoices .invoices-inner-wrap{
        align-items: end !important;
    }
}